<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee">
<welcome-file-list>
<welcome-file>address.html</welcome-file>
</welcome-file-list>
</web-app>